build/*
!build/viewer/
build/viewer/*
!build/viewer/molstar.js
!build/viewer/molstar.css
deploy/
lib/
docs/site/

node_modules/
debug.log
npm-debug.log
tsconfig.tsbuildinfo
tsconfig.commonjs.tsbuildinfo

*.sublime-workspace
.idea

.DS_Store
tmp/

dev.pem
dev-key.pem
